* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "consolas";
    background: #000;
}
.container {
    width: 100%;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, aqua, violet);
    padding: 10px;
}
.header h1 {
    text-align: center;
    flex: 1;
    font-size: 50px;
    color: white;
    text-shadow: 0 0 50px black;
}
.header .clr-btn {
    margin: 10px;
    padding: 10px 10px;
    border: none;
    background: #3fff3f;
    color: white;
    font-size: 30px;
    border-radius: 20px;
    box-shadow: 0 0 30px #00000077;
}
.header img {
    width: 100px;
    border-radius: 30px;
    box-shadow: 0 0 30px #00000077;
}
.chat-area {
    height: 70vh;
    /* background: gray; */
    overflow-y: scroll;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.chat-area::-webkit-scrollbar {
    background: #000;
}
.chat-area::-webkit-scrollbar-thumb {
    background: #242424;
    border-radius: 10px;
}
.message {
    padding: 15px;
    padding-left: 30px;
    border-radius: 30px;
    margin-bottom: 20px;
}
.message span {
    font-size: 27px;
    font-weight: bold;
}
.message.receiver p {
    font-size: 18px;
    padding-left: 5px;
    color: white;
}

.message.sender p {
    color: white;
    font-size: 18px;
    padding-right: 5px;
}
.message.receiver {
    display: flex;
    gap: 20px;
    background: #242424;
}
.message.receiver img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    box-shadow: 0 0 30px #000000;
}
.message.receiver span {
    color: violet;
}
.message.sender {
    background: #000;
    /* text-align: right; */
}
.message.sender span {
    color: aqua;
}
.chat-form {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.chat-form input {
    flex: 1;
    margin: 10px;
    border: none;
    background: #242424;
    color: aqua;
    border-radius: 30px;
    padding: 15px;
    outline: none;
}
.chat-form button {
    padding: 10px 15px;
    margin: 10px;
    border: none;
    background: linear-gradient(to right, aqua, violet);
    color: white;
    font-size: 20px;
    border-radius: 30px;
}
