* {
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
}
body {
    background: #303035;
}
.container {
    letter-spacing: 1px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}
.header {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    z-index: 2;
    background: #ffffff80;
}
.pp {
    background:;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 10px;
    border: 2px solid;
}
img.pp {
    filter: contrast(500%);
    filter: grayscale();
    opacity: 70%;
}
.header .title h1 {
    margin-right: 20px;
    font-size: 35px;
    color: #00000090;
    mix-blend-mode: darken;
}
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.input-form {
    padding: 15px;
    padding-bottom: 30px;
    display: flex;
    gap: 10px;
    background: #ffffff80;
}
.input-form #message-input {
    width: 100%;
    font-size: 20px;
    padding: 10px;
    padding-left: 20px;
    outline: none;
    border: 2px solid;
    background: #ffffff80;
    border-radius: 30px;
    color: #00000090;
}
#message-input::placeholder {
    color: #00000090;
}
.input-form button {
    padding: 10px 15px;
    border: 0;
    border-radius: 30px;
    background: #00000030;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
i {
    color: blue;
}
.content {
    height: 70%;
}
.chat-area {
    background: #00000030;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.message {
    display: flex;
    padding: 10px;
    margin: 10px;
}
.message .text-content {
    flex: 1;
    padding: 10px;
    background: #ffffff80;
    border-radius: 30px;
    box-shadow: 0 0 20px #00000010;
    display: flex;
    flex-direction: column;
    gap: 0;
}
.message h3 {
    font-size: 30px;
    padding: 10px;
    color: #00000080;
}
.message p {
    padding: 15px;
    font-size: 18px;
    color: #00000090;
    background: #ffffff30;
    border-radius: 20px;
    border: 0px solid #ffffff80;
    box-shadow: 0 0 20px #00000010;
}
.sender {
    flex-direction: row-reverse;
    text-align: right;
    padding: 10px;
}
.pp {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
